body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#ProductType {
    display: inline-block;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
#ProductDiv {
    display: inline-block;
}
.MakeBlock {
    display: inline-block;
}
.MaxBox {
    width:38px;
}
.MinBox {
    width:38px;
}
.SliderBox{
    width:250px;
}
.ModelYear {
    width: 30px;
}
.productImg {
    width: 200px;
    height:175px;
}
.productDiv {
    display: inline-block;
    border:solid;
    border-color: grey;
    padding: 10px;
    text-align:center;
    color:black;
    width: 230px;
}
a:hover, a:visited, a:link, a:active .productDiv {
    text-decoration: none;
}
.divButton{
    width:70px;
}
.pduct {
    width: 150px;
    text-align:center;
}
.pject {
    text-align: center;
    width: 150px;
}
.srch {
    text-align: center;
    
}