@model Marketplace_portal.Models.UserLogin

@{
    ViewBag.Title = "Login";

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Joole</title>
    @Styles.Render("~/Content/CSSStyles/Login.css")
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new {@class="loginForm" }))
{
    @Html.TextBoxFor(m => m.UserName, new {placeholder ="Username or Email"  })
    @Html.PasswordFor(m=>m.Password, new { placeholder = "Password" })

            }
        </div>

    </div>

    <script>
        var ShowSignup =function() {
            $('.modal').show();
        }

        $('#closeBtn').on("click", function () {
            $('.modal').hide();
        });

    </script>

</body>

</html>

