@*!!!!Question: have to bind with model to use textboxfor? *@
@model Marketplace_portal.Models.UserLogin

@{
    ViewBag.Title = "Login";
    
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new {@class="loginForm" }))
{
    @Html.TextBoxFor(m => m.UserName, new {placeholder ="Username or Email"  });
    @Html.PasswordFor(m=>m.Password, new { placeholder = "Password" })

    <p>@ViewData["errorMessage"]</p>
    
    <input type="submit" value="Log In"/>

}


