
@{
    ViewBag.Title = "Index";
}


<div class="row">

    <div class="col-md-4">
        <h2>Index for Filter</h2>


        <ul>
            @{
                if (Model.products != null)
                {

                    foreach (var Data in Model.products)
                    {

                        <li>@Data.ProductName</li>

                    }

                }
            }
        </ul>
    </div>
    <div class="col-md-8">

        <h2> DYNAMIC PARTIAL VIEW</h2>

    </div>
    
</div>


