
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
            <meta name="viewport" content="width=device-width" />
            <title>ProductSearch</title>
        </head>
    <img src="~/Images/JooleHeaderTransparent.png" alt="Joole Header" />

    <body>
          <div>
        <img src="~/Images/JooleHeaderTransparent.png" alt="Joole Header" />
        </div>
    </body>
</html>
