@model Marketplace_portal.Models.CompareList

@{
    ViewBag.Title = "CompareTest";
}

<h2>CompareTest</h2>

<table>
    @*@foreach(ProductModel item in Model.ProductList)
            {
                <tr>
                   item.ManufacturerName 
                </tr>
            }*@

</table>

