
@{
    ViewBag.Title = "CompareProduct";
}

<h2>CompareProduct</h2>
@*
const urlParams = new URLSearchParams(queryString);
const product = urlParams.get('id')*@

@{
    var data = ViewBag.Message;
}

<h3>Model: @data.Model</h3>


