@using Marketplace_portal.Models;
@model Marketplace_portal.Models.CompareList

@{
    ViewBag.Title = "CompareTest";
}

<h2>CompareTest</h2>

<table>
    @foreach (ProductModel item in Model.ProductModels)
        {
            <tr>
               <td>@item.ManufacturerName</td>
               
                <td>@item.Series</td>
            </tr>
        }

</table>

