﻿body {
    background: linear-gradient(blue,white) no-repeat center center fixed;
    text-align: center;
    background-size: cover;
}

.primaryBtn {
    border: none;
    background: #327AB9;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 20px 0;
}

